# 1. Week 2 assignment

The dataset chosen was the Gapminder.

In [25]:
# This package is very useful to data analysis in Python.
import pandas as pd

# Read the csv file to a dataframe object.
df = pd.read_csv('data/gapminder.csv')

# Convert all number values to float.
df = df.convert_objects(convert_numeric=True)

# Define the Country as the unique id of the dataframe.
df.index = df.country
del df['country']

# List of the variables selected.
vars_sel = ['polityscore', 'oilperperson', 'relectricperperson', 'employrate', 
            'lifeexpectancy', 'armedforcesrate', 'urbanrate', 'femaleemployrate']


# Dataframe with only the variables selected.
df2 = df[vars_sel]

# Number of countries before the removal of ones wiht missing variables.
n_countries_before = df2.shape[0]

# Remove all countries that have at least one variable missing.
df2 = df2.dropna()

# Number of countries after the removal of ones wiht missing variables.
n_countries_after = df2.shape[0]

C:\Anaconda2\envs\deep3\lib\site-packages\ipykernel\__main__.py:8: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

## 1.1 Frequency tables

Here I show you the frequency tables for three variables I've choosen. Please, note that in this dataset almost all the variables take continuous values, what make the frequency tables show several lines wiht frequency of 1. 

Below I constructed a helper function to pretty print the tables, using the HTML default output of pandas.DataFrames object when displayed in IPython Notebook.

In [26]:
# Helper function to print the frequency values as an HTML table.
def print_freq(series):
    # Count the frequency of values. 
    #This is a pandas.Series object.
    z = series.value_counts()
    
    # Sort the table by the values taken, rather than 
    # the default descending order of frequencies.
    z = z.sort_index()
    
    # Convert the pandas.Series.object to pandas.DataFrame in order to
    # name the values and frequencies properly. 
    z = pd.DataFrame(z)
    z['% Frequency'] = (z/z.sum()).round(2)*100
    z.columns = ['Frequency', '% Frequency']
    z.index.name = 'Values'
    
    # Finally, return the object. If run in a IPython Notebook, it will
    # print a nice HTML table.
    return z

### 1.1.1 Variable "polityscore"

This variable takes integer values between -10 and 10, and by the filter applied above which removed all countries with at least one variable missing, we see that give us a lot of countries, 60%, equal or above grade 8.

In [20]:
print_freq(df2['polityscore'])

        Frequency  % Frequency
Values
-10.0           2          3.0
-9.0            2          3.0
-8.0            1          2.0
-7.0            5          8.0
-6.0            1          2.0
-3.0            2          3.0
-2.0            1          2.0
 2.0            1          2.0
 4.0            2          3.0
 5.0            3          5.0
 6.0            1          2.0
 7.0            3          5.0
 8.0            7         11.0
 9.0            6         10.0
 10.0          24         39.0

### 1.1.2 Variable "femaleemployrate"

The values take a continuous interval, thus letting the Frequency Table not a good tool to visualize the distribution of the values. Let's organize the values into 10 buckets, as to convert from continuous to categorical values.

In [31]:
NUMBUCKETS = 10
print_freq(pd.cut(df2.femaleemployrate, NUMBUCKETS))

                 Frequency  % Frequency
Values
(17.649, 22.82]          4          7.0
(22.82, 27.94]           1          2.0
(27.94, 33.06]           2          3.0
(33.06, 38.18]           5          8.0
(38.18, 43.3]            8         13.0
(43.3, 48.42]           12         20.0
(48.42, 53.54]          11         18.0
(53.54, 58.66]          13         21.0
(58.66, 63.78]           3          5.0
(63.78, 68.9]            2          3.0

### 1.1.3 Variable "oilperperson"

Another variable that takes a continuous interval. This time 87% fo contries takes less than 2.47 tones per year per capita, and only one country takes the max bucket of oil consumption.

In [32]:
print_freq(pd.cut(df2.oilperperson, NUMBUCKETS))

                    Frequency  % Frequency
Values
(0.0201, 1.252]            38         62.0
(1.252, 2.472]             15         25.0
(2.472, 3.691]              3          5.0
(3.691, 4.911]              3          5.0
(4.911, 6.13]               0          0.0
(6.13, 7.35]                1          2.0
(7.35, 8.57]                0          0.0
(8.57, 9.789]               0          0.0
(9.789, 11.00901]           0          0.0
(11.00901, 12.229]          1          2.0

### 1.1.4 Variable "armedforcesrate"

In this variable we see that the majority invest equal or less than 2.12% of their labor force in defense army.

In [33]:
print_freq(pd.cut(df2.armedforcesrate, NUMBUCKETS))

                Frequency  % Frequency
Values
(0.282, 0.899]         26         43.0
(0.899, 1.509]         16         26.0
(1.509, 2.12]          10         16.0
(2.12, 2.731]           4          7.0
(2.731, 3.341]          3          5.0
(3.341, 3.952]          1          2.0
(3.952, 4.563]          0          0.0
(4.563, 5.174]          0          0.0
(5.174, 5.784]          0          0.0
(5.784, 6.395]          1          2.0

## 1.2 Overview of the variables selected

Here I show you an overview of the variables selected. Here you can see the extreme values, mean, standard deviation, and and quatiles 25%, 50% (median) and 75%.

In [34]:
 df2.describe()

,polityscore,oilperperson,relectricperperson,employrate,lifeexpectancy,armedforcesrate,urbanrate,femaleemployrate
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000
mean,5.032787,1.462429,1739.275506,57.868853,75.283246,1.289931,69.059672,46.413114
std,6.845844,1.851035,2086.279787,7.704253,5.708741,1.046546,16.971473,11.104631
min,-10.000000,0.032281,68.115229,41.099998,52.797000,0.287892,27.140000,17.700001
25%,4.000000,0.504659,498.165305,52.500000,73.131000,0.560987,61.000000,41.700001
50%,8.000000,0.890813,921.562111,58.500000,75.446000,0.972378,70.360000,47.599998
75%,10.000000,1.593223,2051.802338,62.400002,80.414000,1.649451,81.460000,53.900002
max,10.000000,12.228645,11154.755033,76.000000,83.394000,6.394936,100.000000,68.900002

End of the assignment.